@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Book.woff2') format('woff2'), url('../fonts/CircularStd-Book.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Medium.woff2') format('woff2'), url('../fonts/CircularStd-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Circular Std';
	src: url('../fonts/CircularStd-Bold.woff2') format('woff2'), url('../fonts/CircularStd-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

.wrapper{
	max-width: 1255px;
	margin: 0 auto;
	padding: 0 15px;
}

h1{
	font-size: 65px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 500;
	line-height: 1.2;
	margin-top: 140px;
	margin-bottom: 20px;
	color: #313131;
}

.subtitle{
	font-size: 20px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	max-width: 750px;
	margin: 0 auto;
	color: #5F5F5F;
}

.center{
	text-align: center;
	margin-bottom: 224px;
}

main{
	max-width: 508px;
}

h2{
	font-size: 34px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 700;
	color: #313131;
	line-height: 1.3;
	margin-bottom: 20px;
}

p{
	font-size: 18px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 400;
	line-height: 1.6;
	color: #5F5F5F;
	margin-bottom: 125px;
}

.name{
	font-size: 18px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 700;
	line-height: 1.3;
	color: #313131;
	margin-bottom: 5px;
}

.job{
	font-size: 18px;
	font-family: 'Circular Std', sans-serif;
	font-weight: 400;
	line-height: 1.3;
	color: #B8B8B8;
}

img{
	width: 100%;
}
